/* quick reset */
* { margin: 0; border: 0; padding: 0; }

$openSans: 'Open Sans', Helvetica, sans-serif;

body {
  min-height: 100vh;
  background-color: #fff;
  font-family: $openSans;
}

.container-fluid {
  padding: 0;
}

.hidden {
  display: none;
}

.navbar {
  min-height: 10vh;
  img {
    width: 100% /9;
  }
  #navbarText {
    margin-left: 50px;
    .nav-item {
      margin-right: 30px;
      a:hover {
        font-weight: 600;
      }
    }
    #users-button {
      text-decoration: none;
      margin-right: 20px;
    }
    #sign-in {
      float: right;
      padding: 10px 20px;
      border: 2px solid #000;
      color: #000;
      border-radius: 8px;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        background-color: #333;
        color: #fff;
      }
    }
  }
}

.usersCon {
  .userBut {
    min-height: 75vh;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 45px;
    text-decoration: none;
    line-height: 600px;
    &:hover {
      color: #000;
    }
  }
  #adultsBut{
    background-color: #233238;
  }
  #kidsBut{
    background-color: #efac14;
  }
}

footer {
  min-height: 15vh;
  padding-top: 20px;
  background-color: #efefef;
  .rokuCon {
    max-width: 170px;
    margin-left: 20px;
    p {
      color: #6d3899;
      font-weight: 600;
      font-size: 12px;
      margin-bottom: 0;
      text-align: left;
    }
  }
  .socialsCon {
    margin-top: 15px;
    text-align: right;
    img {
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
  }
  p {
    text-align: center;
    color: #000;
    font-size: 14px;
  }
}

.main-body {
  background-color: #efefef;
  padding: 20px;
  h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding: 30px 0;
    background-color: #233238;
    color: #fff;
    span {
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.dropdown-con {
    position: relative;
    display: inline-block;
    border: solid #dbdbdb 0.5px;
    margin-right: 20px;
    margin-bottom: 30px;
    min-width: 132px;
    font-size: 14px;
    padding: 12px;
    &:hover .dropdown-info {
      display: block;
    }
    .dropdown-button {
      font-weight: 600;
      background-color: #efefef;
      color: #333;
      text-transform: uppercase;
    }
    .dropdown-info {
      display: none;
      position: absolute;
      margin-top: 12px;
      background-color: rgba(255,255,255,0.9);
      min-width: 132px;
      z-index: 1;
      a {
        display: block;
        padding: 10px 15px;
        color: #333;
        border-bottom: solid #dbdbdb 0.5px;
        text-decoration: none;
        &:hover {
          background-color: #dbdbdb;
        }
      }
    }
}

.videos-con {
  max-width: 1500px;
  margin: 35px auto;
  border-bottom: 1px solid #999;
  padding-bottom: 20px;
  h2 {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 14px;
    margin: 0 0 20px 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .video-posters {
    padding: 30px 0;
    border-bottom: 1px solid #e4e4e4;
    &:last-child {
      border-bottom: none;
    }
    li {
      max-width: 250px;
      height: 150px;
      overflow: hidden;
      float: left;
    }
    img {
      width: 250px;
      margin-top: -50%;
    }
    p {
      font-weight: 300;
      margin-left: 15px;
      color: #999;
    }
  }
}

#kids-welcome {
  background-color: #efac14;
}

video {
  width: 100%;
}

.video-details {
  padding: 20px;
  h2 {
    float: left;
  }
  .info {
    clear: left;
    p {
      float: left;
      margin-right: 30px;
      margin-bottom: 30px;
    }
  }
  .storyline, .reviews {
    clear: left;
    margin: 30px 0;
    h3 {
      font-weight: 300;
      border-bottom: 1px solid #dbdbdb;
      padding-bottom: 5px;
      font-size: 20px;
    }
    p {
      font-size: 15px;
      font-weight: 300;
    }
  }
  .reviews {
    p {
      padding-top: 20px;
    }
    dir {
      padding: 20px;
      margin: 0 20px;
      border-bottom: 1px solid #e9e9e9;
      &:first-child {
        display: none;
      }
    }
  }

  form {
    background-color: rgba(219,228,238,.5);
    border-radius: 8px;
    padding: 20px;
    label {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .star-rating-star {
      font-size: 22px !important;
    }
    textarea {
      clear: left;
      height: 75px;
      border: 1px solid #dbdbdb;
      font-size: 12px;
      padding: 10px;
      width: 100%;
    }
    input {
      background-color: #555;
      color: #fff;
      padding: 15px;
      border-radius: 5px;
      text-transform: uppercase;
      margin-top: 15px;
      font-size: 12px;
      cursor: pointer;
      &:hover {
        background-color: #dbdbdb;
        color: #333;
        font-weight: 600;
      }
    }
  }
}

.star-rating-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.star-rating-star {
  display: inline-block;
  padding: 1px;
  vertical-align: middle;
  line-height: 1;
  font-size: 2.25em;
  color: #ABABAB;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
  margin-bottom: 0;
}
.star-rating-star:hover {
  cursor: pointer;
}
.star-rating-star.is-selected {
  color: #FFD700;
}
.star-rating-star.is-disabled:hover {
  cursor: default;
}
