<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>NEH Lab</title>
  </head>
  <body>

    <div class="container-fluid" id="home">
      <nav class="navbar navbar-expand-lg navbar-light">
        <img src="/images/logo.svg" alt="logo" class="img-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/adults#movies">ALL MOVIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/kids#movies">KIDS MOVIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#favourites">FAVOURITES</a>
            </li>
          </ul>
          <span class="navbar-text">
            <a href="/" id="users-button">< BACK TO USERS</a>
          </span>
          <span class="navbar-text">
            <a href="#" id="sign-in">SIGN IN</a>
          </span>
        </div>
      </nav>

      {{{body}}}

      <footer class="row">
        <div class="rokuCon col-sm-12 col-md-2">
          <p>POWERED BY:</p>
          <img src="/images/roku-logo.svg" alt="Roku logo">
        </div>
        <div class="socialsCon col-sm-12 col-md-3 offset-md-7">
          <img src="/images/facebook.svg" alt="Facebook icon">
          <img src="/images/twitter.svg" alt="Twitter icon">
          <img src="/images/instagram.svg" alt="Instagram icon">
        </div>
        <p class="col-12">Ⓒ Copyright 2018 WATCH NOW. All Rights Reserved.</p>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
