<div class="main-body" id="appAdults">
  <h1>Welcome to the <span>${title}</span> video selection</h1>
  <section class="videos-con" id="movies">
    <div class="heading row">
      <h2 class="col-sm-12 col-md-3">${genHeading}</h2>
      <div class="dropdown-con col-sm-12 col-md-1 offset-md-6">
        <button class="dropdown-button">Genre:</button>
        <div class="dropdown-info">
          <a href="#">Action</a>
          <a href="#">Comedy</a>
          <a href="#">Horror</a>
          <a href="#">Romance</a>
          <a href="#">Romcom</a>
        </div>
      </div>
      <div class="dropdown-con col-sm-12 col-md-1">
        <button class="dropdown-button">Rating:</button>
        <div class="dropdown-info">
          <a href="#">1 star</a>
          <a href="#">2 stars</a>
          <a href="#">3 stars</a>
          <a href="#">4 stars</a>
          <a href="#">5 stars</a>
        </div>
      </div>
    </div>

    <section class="video-posters row" v-for="genre in genres">
      <div v-if="genre.movies.length > 0">
        <h3 class="heading">${ genre.name }</h3>
        <ul>
          <li class="col-sm-6 col-md-4 col-lg-3" v-for="movie in genre.movies">
            <a :href="'/movies/' + movie.movies_id + '/' + movie.movies_trailer">
              <img :src="'/images/' + movie.movies_cover" :alt="movie.movies_title">
            </a>
          </li>
        </ul>
      </div>
    </section>
  </section>

  <section class="videos-con" id="favourites">
    <div class="heading row">
      <h2 class="col-sm-12 col-md-3">${favsHeading}</h2>
      <div class="dropdown-con col-sm-12 col-md-1 offset-md-6">
        <button class="dropdown-button">Genre:</button>
        <div class="dropdown-info">
          <a href="#">Action</a>
          <a href="#">Comedy</a>
          <a href="#">Horror</a>
          <a href="#">Romance</a>
          <a href="#">Romcom</a>
        </div>
      </div>
      <div class="dropdown-con col-sm-12 col-md-1">
        <button class="dropdown-button">Rating:</button>
        <div class="dropdown-info">
          <a href="#">1 star</a>
          <a href="#">2 stars</a>
          <a href="#">3 stars</a>
          <a href="#">4 stars</a>
          <a href="#">5 stars</a>
        </div>
      </div>
    </div>

    <div class="video-posters row">
      <p>${message}</p>
    </div>
  </section>
</div>
