
  <!-- <header class="row">
    <img src="/images/logo.svg" alt="logo">
    <nav class="nav">
      <ul>
        <li><a href="#">MOVIES</a></li>
        <li><a href="#">TELEVISION</a></li>
        <li><a href="#">FAVOURITES</a></li>
      </ul>
    </nav>
    <a href="#" id="signIn">SIGN IN</a>
  </header> -->

  <div class="usersCon row">
    <a href="/adults" class="col-sm-12 col-md-6 userBut" id="adultsBut">ADULTS</a>
    <a href="/kids" class="col-sm-12 col-md-6 userBut" id="kidsBut">KIDS ZONE</a>
  </div>
